<% title "#{@group_type.name}" %>
<div class="container">
  <h1><%= @group_type.name %></h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Elected Representatives</th>
          </thead>
          <tbody>
            <% for group in @groups %>
            <tr>
              <td><%= link_to group.name, group %></td>
              <td><%= group.current_members.count %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
