<div class="container">
  <% @search_results.each { |_, details| %>
    <div class="well">
      <div class="row">
        <div class="col-md-4">
          <h2>Your <%= details["constituency_type"].member_title_abbreviation.pluralize(details["representatives"].count) %> for <%= details["constituency"].name %></h2>
          <p>
            <%= details["constituency_type"].description %>
          </p>
        </div>
        <div class="col-md-8">
          <% for rep in details["representatives"] %>
            <p class="lead"><%= link_to rep.person.name, rep.person %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% } %>
</div>
