<div class="container">
  <% @search_results.each { |constituency_key, result| %>
    <h1><%= constituency_key %></h1>
    <% for rep in result %>
      <%= render partial: "listing", locals: {rep: rep} %>
    <% end %>
  <% } %>
</div>
