<a
  href="<%= "https://docs.google.com/forms/d/1j9JHB2DBd30iHPuuetqwn5v3djQ7D14wV1sJoLgFWvc/viewform?entry.745720732=#{URI.escape(report_subject)}&entry.1144737213=#{URI.escape(report_url)}&entry.72850062&entry.628332487&entry.1419945359" %>"
  target="_blank">
  Correct a mistake
</a>
