<div class="homepage">
  <div class="container">
    <div class="row billboard">
      <div class="col-md-8 col-md-offset-2">
        <h1>
          We're the IMDb of Irish Politics. That's awesome.
        </h1>
        <p class="lead">
          Listing who's who in Irish politics since 2013.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container search-area">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center lead">
        To get started, just enter your address.
      </p>
      <form role="form">
  		<div class="input-group" id="form-search-group">
        <input type="text" placeholder="e.g. Kildare Street, Dublin 2, Ireland" id="form-input" class="form-control" autocomplete="off">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-search" id="form-submit" type="button">Search</button>
        </span>
  		</div>
  	</form>
    </div>
  </div>
</div>
