<div class="homepage">
  <div class="container">
    <div class="row billboard">
      <div class="col-md-8 col-md-offset-2">
        <h1>
          Contact your elected representatives on the issues that matter to you
        </h1>
        <p class="lead">
          We list over <%= number_with_delimiter(@representatives_count - 1) %> representatives across Ireland
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container search-area">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center lead">
        To get started, just enter your home address.
      </p>
      <%= form_tag search_index_path, {role: 'form', method: 'GET'} do %>
      <div class="input-group" id="form-search-group">
        <%= text_field_tag 'form-input', nil, placeholder: 'e.g. Kildare Street, Dublin 2, Ireland', class: 'form-control', autocomplete: 'off' %>
        <span class="input-group-btn">
          <button class="btn btn-primary btn-search" id="form-submit" type="submit">Search</button>
        </span>
  		</div>
      <% end %>
      <p class="text-center">
        <small>We need your home address to figure out what constituency you are in.</small>
      </p>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
