<% title "About us" %>
<div class="container">
  <div class="row">
    <div class="col-md-12 about-page">
      <h2>About Who Is My TD?</h2>
      <p>The idea behind the site is simple. It's about holding those who represent you accountable, and reaching out to them when you need help. In Ireland, people are represented at multiple levels. TDs in the Dáil; councillors at city and county level;
        MEPs in Europe. Who Is My TD aggregates all of their contact details in one place - so that when you need to talk to them, the details are right there - just a click away. And you should contact them when you need help, because don't forget - you pay
        them, so might as well call them if you need them.</p>

      <h2 id="whoruns">Who runs Who Is My TD?</h2>
      <p>WhoIsMyTD is run by
        <a href="http://twitter.com/colmisainmdom" target="_blank">Colm Doyle (@colmisainmdom)</a>
        and
        <a href="http://twitter.com/rowfas" target="_blank">Ruth Ní Eidhin (@rowfas)</a>. It is not affiliated with any Government Department or other publicly funded bodies.</p>

      <h2 id="listsource">Where does the site get the list of public representatives?</h2>
      <p>There is no officially maintained central list of representatives, so our data is pulled together manually from the various official sources. Whilst we're confident of the accuracy, we do not accept any responsibilty for mistakes.</p>

      <h2 id="update-listing">I'm a representative or work for a representative body and I want to change a listing.</h2>
      <p>That's no problem, we want the information to be as accurate as possible and we'll be happy to update our system. On each listing, there's a "Correct a mistake" link. Just click on that and you'll be brought to a form when you can provide amended details.</p>

      <h2>Can I use the information on this site somewhere else?</h2>
      <p>As long as you follow the terms of the license, which is
        <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International</a>, you're free to use the information on the site however you wish. Having said that, We don't provide copies of our entire database. You need to collate the information manually.</p>

      <h2>What software is used to make this site?</h2>
      <p>"Who is my TD" is powered by <a href="https://github.com/colmdoyle/pobal" target="_blank">Pobal</a>. Pobal is open source software that allows people to build searchable lists of elected representatives in their countries. It would also work well for organisations like Trade Unions etc.</p>
    </div>
  </div>
</div>
