<div class="container">
  <h2>Constituencies</h2>
<% for constituency in @constituencies %>
  <h3><%= link_to constituency.name, constituency %></h3>
<% end %>
<%= will_paginate @constituencies, renderer: BootstrapPagination::Rails %>
</div>
