<% title "Constituencies" %>
<div class="container">
  <h2>Constituencies</h2>
<% for constituency in @constituencies %>
  <h3><%= link_to constituency.name, constituency %> (<%= constituency.constituency_type.name %>)</h3>
<% end %>
<div class="text-center">
  <%= will_paginate @constituencies, renderer: BootstrapPagination::Rails %>
</div>
</div>
