<% title "Something went wrong" %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <h1 class="text-center">Sorry about this, but something went wrong</h1>
        <p class="lead text-center">
          We track these errors automatically, but if the problem persists feel free to contact us.
          <br />
          In the meantime, you could try refreshing.
        </p>
        <p class="text-center">
          <%= link_to "Return to the home page", root_url %>
        </p>
      </div>
    </div>
  </div>
</div>
