<% title t('error_pages.five_hundred.title') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <h1 class="text-center"><%= t('error_pages.five_hundred.heading') %></h1>
        <p class="lead text-center">
          <%= t('error_pages.five_hundred.error_message') %>
        </p>
        <p class="text-center">
          <%= link_to t('error_pages.return_to_home'), root_url %>
        </p>
      </div>
    </div>
  </div>
</div>
