<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well well-lg">
        <h1 class="text-center">Sorry, this page isn't available</h1>
        <p class="lead text-center">
          The link you followed may be broken, or the page may have been removed.
        </p>
        <p class="text-center">
          <%= link_to "Return to the home page", root_url %>
        </p>
      </div>
    </div>
  </div>
</div>
