<% title "Groups" %>
<div class="container">
  <h2>Groups</h2>
<% for group in @groups %>
  <h3><%= link_to group.name, group %></h3>
<% end %>
<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
</div>
