$well-bg: white;
$well-border: #d3e0e9;

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #E9EAED;
$white: white;
$very-light-blue: #95CFFF;
$light-blue: #479CE3;
$darkest-blue: #202B3A;
$standard-font-family: 'Avenir', Helvetica, Arial;


html {
  position: relative;
  min-height: 100%;
}

.navbar {
  background-color: $light-blue;
  font-size: 18px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: $white;
}

@media (max-width: 768px) {
  .navbar-default .navbar-collapse {
    background-color: $darkest-blue;
  }
}

.dropdown .open > a {
  background-color: $white;
}

body {
  background-color: $primary-color;
  font-family: $standard-font-family;
  margin-bottom: 60px;
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  position: absolute;
  min-height: 120px;
  bottom: 0;
  width: 100%;
  background-color: $darkest-blue;
  color: $white;
}

.about-page > h2 {
  padding-bottom: 10px;
  margin: 44px 0 22px;
  border-bottom: 1px solid #d4dbe0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.google-map {
  padding: 0;
}

@import "font-awesome";
@import "welcome";
@import "search";
@import "constituency";
@import "body";
@import "person";
@import "sortable/sortable-theme-bootstrap";
