// Place all the styles related to the body controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group-breakdown {
  background-color: #4E4E4E;
  color: $white;
  padding-top: 0;
  padding-bottom: 0;
}

.single-breakdown {
  padding-top: 15px;
  padding-bottom: 15px;
}

.breakdown-count {
  font-size: 2em;
  font-weight: bold;
}
