<% title "Bodies" %>
<div class="container">
  <h2>Bodies</h2>
  <% for body in @bodies %>
    <h3><%= link_to body.name, body %></h3>
  <% end %>
  <%= will_paginate @bodies, renderer: BootstrapPagination::Rails %>
</div>
