<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
          <ul class="list-inline pull-right">
            <li class="text-muted"><%= link_to "About", page_path('about-us') %></li>
            <li class="text-muted"><%= link_to "GitHub", "https://github.com/colmdoyle/pobal" %></li>
            <li class="text-muted"><%= link_to "Facebook", "https://facebook.com/whoismytd" %></li>
            <li class="text-muted"><%= link_to "Twitter", "https://twitter.com/whoismytd" %></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
<!-- /Footer -->
