<footer class="footer hidden-xs">
  <div class="container">
    <div class="col-md-3">
      <p class="text-uppercase text-muted">
        Representatives
      </p>
      <ul class="list-unstyled">
        <li>TDs</li>
        <li>Senators</li>
        <li>MEPs</li>
        <li>Councillors</li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <p class="text-uppercase text-muted">
        Representatives
      </p>
      <ul class="list-unstyled">
        <li>...</li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <p class="text-uppercase text-muted">
        About
      </p>
      <ul class="list-unstyled">
        <li>...</li>
      </ul>
    </div>
  </div>
</footer>
